{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <title>Golf With The Lads</title>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css">
        <script src="{% static 'js/scripts.js' %}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>

    <body>
        <header>
            <div class = "headergolf">
                <h1>GOLF WITH THE LADS</h1>
            </div>
        </header>
 
    <div class ="Playerbtn" style="overflow:auto;">
            <h1>Choose a Player!</h1>
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <form method=post>
            <select id="players">
                <option value="Cory">Cory</option>
                <option value="Joel">Joel</option>
                <option value="Joey">Joey</option>
                <option value="Robert">Robert</option>
                <option value="Ryan">Ryan</option>
            </select>
            </form> 
            </div>
    <div class ="Coursebtn" style="overflow:auto;">
            <h1>Choose the course!</h1>
            <form method=post>
                <select id='courses'>
                    <option value="Burlington GC">Burlington GC</option>
                    <option value="Casselview GC">Casselview GC</option>
                    <option value="Glen Eagle GC">Glen Eagle GC</option>
                    <option value="Hunt Club North GC">Hunt Club North GC</option>
                    <option value="Lambton GC">Lambton GC</option>

                </select>
                </form>
                <script type="text/javascript">
                
                
                </script>


                 </div>
    <div class ="Teesbtn" style="overflow:auto;">
             <h1>Choose your Tee!</h1>
             <form method=post>
                <select id='tees'>
                    <option value="Blue">Blue</option>
                    <option value="Red">Red</option>
                    <option value="White">White</option>
                    <option value="Yellow">Yellow</option>
                </select>
                </form> 
         
            </div>
         <div class = "scorebtn" style= "overflow:auto;">
                <h1>Score!</h1>
                <form method=post>
                <form name="score">
                <input id="myscore" value=>
         </form>> 
         

            </div>
        
            <div class= "button" style= "overflow:auto;">
        <button onClick="handicap()">Enter</button>
       
       
            </div>
        <div class="Databasebox" style ="overflow:auto;">
            <h1>Player/course</h1>
        </div>
        <div class="Handicapbox" style ="overflow:auto;">
            <h1>Show results</h1>
        </div>
        <div class="Scorebox" style ="overflow:auto;">
            <h1>Index</h1>
        </div>
       
    </body>

    <div class="footergolf">
        <footer>
            <h4>2019 All Rights Reserved</h4>
        </footer>
    </div>
</html>